/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
cmd/provider/__*

# ignore IDE folders
.vscode
.DS_Store

# ignore OpenAPI generator files
.openapi-generator-ignore
.openapi-generator/

# ignore sonobuoy reports
*.tar.gz
